.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    /* border: 1px solid black; */
    height: 80vh;
}

.column {
    
    background-color: rgb(235, 236, 240);;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width:200px;
    margin: 10px;
}

.head {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.card {
   background-color: #fff;
   border-radius: 3px;
   box-shadow: 0 1px 0 rgba(9,30,66,.25);
   cursor: pointer;
   display: block;
   margin-bottom: 8px;
   max-width: 300px;
   min-height: 20px;
   position: relative;
   text-decoration: none;
   z-index: 0;
   margin: 10px;
   padding: 5px;
}

.card:hover {
    -webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 8px -6px rgba(0,0,0,0.75);  
}

button {
    margin: 10px;
}

input {
    margin: 10px;
    margin-bottom: 0px;

}
